input {
    width: 200px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recommended {
    all: unset;
    display: block;
    width: 200px;
    cursor: pointer;
}

.active {
    background-color: lightcoral;
}